*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}


#map{
    font-family:'Montserrat';
    position:absolute;
    z-index:2;
}


#map canvas{
    cursor:default;
}

.mapboxgl-popup-content{
   background-color: rgba(255, 255, 255, 0);
   box-shadow: 0 1px 2px rgba(0,0,0,.0);
   padding:0px;
}

.mapboxgl-ctrl-attrib-inner{
   display:none; 
}


.top{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.app{
    position:absolute;
    z-index:45;
}


/*------------------------------HEADER-----------------------------------*/

.header{
    display:flex;
    align-items: center;
    justify-content: left;
    position:fixed;
    margin-left:60px;
    width:24vw;
    height:17vh;
    background-color:#00a6a6;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    -webkit-box-shadow: 0px 7px 9px -5px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 7px 9px -5px rgba(0,0,0,0.55);
    box-shadow: 0px 7px 9px -5px rgba(0,0,0,0.55);
}

.header img{
    margin-left:60px;
    width: 54%;
}

/*---------------------------FILTERINFO-------------------------------------*/

.filterinfo{
    margin-top:30px;
    text-align:right;
    font-size: 18px;
    margin-left:70vw;
    line-height:25px;
    font-weight: 600;
    color:#298A91;
    position:fixed;
    background-color: rgba(255, 255, 255, 0.85);
    padding:10px 20px 10px 20px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 7px 9px -5px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 7px 9px -5px rgba(0,0,0,0.35);
    box-shadow: 0px 7px 9px -5px rgba(0,0,0,0.35);
    
}

/*---------------------------FILTROS-------------------------------------*/

.filtro1{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    position:fixed;
    width:24vw;
    height:63vh;
    background-color: white;
    color:#298A91;
    margin-left:60px;
    margin-top:25vh;
    border-radius: 12px;
    -webkit-box-shadow: 0px 7px 9px -5px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 7px 9px -5px rgba(0,0,0,0.55);
    box-shadow: 0px 7px 9px -5px rgba(0,0,0,0.55);
}


.filtro2{
    display:flex;
    flex-direction:column;
    margin-top:20px;
    margin-left:65px;
    width:60%;
}

.filtro3{
    display:flex;
    flex-direction:column;
    margin-top:20px;
}

.filtro3 input{
    width:170px;
    height:30px;
    margin-bottom:18px;
}

.filtro3 select{
    width:170px;
    height:27px;
    margin-bottom:20px;
    font-family: 'montserrat';
}


/*------------------------------ERROR--------------------------------*/

.error{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: left;
    text-align: left;
    height:33vh;
    width:27vw;
    margin-left:50vw;
    margin-top:33vh;
    border-radius:12px;
    background-color:#f0871c;
    position:absolute;
    z-index:50;
    color:white;
    padding:50px 15px 50px 50px;
    -webkit-box-shadow: 0px 7px 9px -5px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 7px 9px -5px rgba(0,0,0,0.55);
    box-shadow: 0px 7px 9px -5px rgba(0,0,0,0.55);
}

.error h3{
    font-size:44px;
    padding-bottom:18px;
    padding-top:22px;
}

.error p{
    font-size: 17.5px;
    padding-bottom:10px;
}

.error h4{
    font-size: 13px;
}

.error2{
    display:flex;
    width:58%;
    align-items: center;
    justify-content: space-between;
    padding-bottom:7px;
} 

.error2 img{
    width:50px;
    height:50px;
}


/*------------------------------CARDS--------------------------------*/

.card{
    display: flex;
    align-items:center;
    width:625px;
    height:190px;
    background-color:white;
    border-radius:12px;
    -webkit-box-shadow: 0px 7px 14px -5px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 7px 14px -5px rgba(0,0,0,0.55);
    box-shadow: 0px 7px 14px -5px rgba(0,0,0,0.55);
}

.cardleft{
    height:100%;
}

.cardleft img{
    border-top-left-radius:12px;
    border-bottom-left-radius:12px;
    height:190px;
}

.cardright1{
    color:#298A91;
    padding: 12px 15px 0px 15px;
}

.cardright1 h3{
    font-size: 16px;
}

.cardright1 h4{
    font-weight:600;
    color:#f0871c;
    margin-bottom:5px;
}

.cardright1 h5{
    font-size:12px;
    margin-bottom:5px;
}

.cardright1 p{
    font-size:10px;
    line-height:15px;
}

.cardright3{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-end;
    margin-bottom: 10px;
    color:white;
    
}

.cardright3 img{
    margin-top:6px;
    padding-top:3px;
    width:8px;
    height:20px;
}

.cardright3 button{
    background-color:#f0871c;
    font-family: 'montserrat';
    font-size:12px;
    font-weight:500;
    color:white;
    border: none;
    padding:6px 14px 6px 14px;
    border-radius: 6px;
    cursor:pointer;
}

.cardright3 button:hover{
    background: #F39A37;
}

.cardright3 button:active{
    background: #F39A37;
    border:none;
}

.cardright2{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.cardright2 img{
    width:30px;
    margin-right:5px;
}


/*------------------------------FOOTER-------------------------------*/

.footer{
    display:flex;
    justify-content:center;
    align-items: center;
    position:fixed;
    font-size:11px;
    margin-left:81vw;
    margin-top:94vh;
    width:17vw;
    height:6vh;
    background-color:#00a6a6;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color:white;
    -webkit-box-shadow: 0px -7px 9px -5px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px -7px 9px -5px rgba(0,0,0,0.55);
    box-shadow: 0px -7px 9px -5px rgba(0,0,0,0.55);
}


/*------------------------------MEDIA QUERIES CELULAR-------------------------------*/
@media (max-width:767px){

    .header{
        margin-left:15px;
        width:40vw;
        height:8vh;
    }
    
    .header img{
        margin-left:30px;
        width: 56%;
    }

    .filtro1{
        justify-content:center;
        align-content: center;
        width:93vw;
        height:22vh;
        margin-left:15px;
        margin-top:11vh;
    }
    
    
    .filtro2{
        display:flex;
        flex-direction:column;
        flex-wrap: wrap;
        margin-top:15px;
        margin-left:20px;
        width:90%;
    }

    .filtro2 h1{
        font-size:18px;
    }
    
    .filtro3{
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top:10px;
    }
    
    .filtro3 input{
        display:flex;
        justify-content: space-between;
        width:130px;
        height:25px;
        margin-bottom:16px;
        margin-right:18px;
    }
    
    .filtro3 select{
        width:90px;
        height:25px;
    }

    .filterinfo{
        margin-top:6px;
        font-size: 8px;
        margin-left:52vw;
        line-height:12px;
        padding:10px 5px 10px 10px; 
        border-radius: 6px;  
    }

    .card{
        width:345px;
        height:140px;
        border-radius:10px;
    }
    
    .cardleft img{
        border-top-left-radius:10px;
        border-bottom-left-radius:10px;
        height:140px;
    }
    
    .cardright1{
        padding: 8px 5px 0px 10px;
    }
    
    .cardright1 h3{
        font-size: 10px;
        margin-bottom:-7px;
    }
    
    .cardright1 h4{
        font-size: 9px;
        margin-bottom:-7px;
    }
    
    .cardright1 h5{
        font-size:8px;
        margin-bottom:-1px;
    }
    
    .cardright1 p{
        font-size:7px;
        line-height:8px;
    }
    
    .cardright3{
        margin-top:-3px;
        align-items: center;
    }

    .cardright3 img{
        width:4px;
        height:14px;
    }
    
    .cardright3 button{
        font-size:9px;
        padding:2.5px 7px 2.5px 7px;
        border-radius: 4px;
    }

    .error{
        height:26vh;
        width:70vw;
        margin-left:15vw;
        margin-top:50vh;
        border-radius:12px;
        padding:50px 25px 50px 25px;
    }
    
    .error h3{
        font-size:38px;
        padding-bottom:14px;
        padding-top:22px;
    }
    
    .error p{
        font-size: 13px;
        line-height:18px;
        padding-bottom:6px;
    }
    
    .error h4{
        font-size: 9px;
    }
    
    .error2{
        width:70%;
    } 
    
    .error2 img{
        width:45px;
        height:45px;
    }
    
    .footer{
        font-size:10px;
        margin-left:5vw;
        margin-top:95vh;
        width:90vw;
        height:5vh;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;

    }
}

