*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

#map canvas{
    cursor:default;
}

#app{
    font-family: 'montserrat';
    display: flex;
    flex-direction: column;
}

.top{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.main{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:77vh;
}



/*------------------------------HEADER-----------------------------------*/

.header{
    display:flex;
    align-items: center;
    justify-content: left;
    margin-left: 30px;
    width:26vw;
    height:17vh;
    background-color:#298A91;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    -webkit-box-shadow: 0px 7px 14px -5px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 7px 14px -5px rgba(0,0,0,0.55);
    box-shadow: 0px 7px 14px -5px rgba(0,0,0,0.55);
}

.header img{
    margin-left:65px;
    width: 52%;
}

/*---------------------------FILTERINFO-------------------------------------*/

.filterinfo{
    margin-top:30px;
    text-align:right;
    font-size: 18px;
    font-weight: 600;
    color:#298A91;
}

/*---------------------------FILTROS-------------------------------------*/

.filtro1{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    width:26vw;
    height:80%;
    background-color: #C3E2E5;
    color:#396668;
    margin-left:30px;
    margin-top:40px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 7px 14px -5px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 7px 14px -5px rgba(0,0,0,0.55);
    box-shadow: 0px 7px 14px -5px rgba(0,0,0,0.55);
}


.filtro2{
    display:flex;
    flex-direction:column;
    margin-top:20px;
    margin-left:65px;
    width:60%;
}

.filtro3{
    display:flex;
    flex-direction:column;
    margin-top:20px;
}

.filtro3 input{
    width:170px;
    height:30px;
    margin-bottom:18px;
}

.filtro3 select{
    width:170px;
    height:27px;
    margin-bottom:20px;
    font-family: 'montserrat';
}



/*------------------------------CARDS--------------------------------*/

.card{
    display: flex;
    width:620px;
    height:182px;
    background-color:white;
    border-radius:12px;
    -webkit-box-shadow: 0px 7px 14px -5px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 7px 14px -5px rgba(0,0,0,0.55);
    box-shadow: 0px 7px 14px -5px rgba(0,0,0,0.55);
}

.cardleft img{
    border-top-left-radius:12px;
    border-bottom-left-radius:12px;
    width:244px;
}

.cardcenter1{
    color:#298A91;
    padding-top: 12px;
    padding-left:15px;
}

.cardcenter1 h3{
    font-size: 16px;
}

.cardcenter1 h4{
    font-weight:600;
    color:#F37337;
    margin-bottom:5px;
}

.cardcenter1 h5{
    font-size:12px;
    margin-bottom:5px;
}

.cardcenter1 p{
    font-size:10px;
    line-height:15px;
}

.cardcenter2{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-right:10px;
    padding-top:7px;
}

.cardcenter2 img{
    padding-top:3px;
    width:10px;
    height:22px;
}

.cardcenter2 button{
    background-color:#F37337;
    font-family: 'montserrat';
    font-size:12px;
    font-weight:500;
    color:white;
    border: none;
    padding:6px 14px 6px 14px;
    border-radius: 6px;
    cursor:pointer;
}

.cardcenter2 button:hover{
    background: #F39A37;
}

.cardcenter2 button:active{
    background: #F39A37;
    border:none;
}

/*------------------------------FOOTER-------------------------------*/

.footer{
    display:flex;
    justify-content:center;
    align-items: center;
    font-size:11px;
    margin-left:81vw;
    width:17vw;
    height:6vh;
    background-color:#298A91;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color:white;
    -webkit-box-shadow: 0px -7px 14px -5px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px -7px 14px -5px rgba(0,0,0,0.55);
    box-shadow: 0px -7px 14px -5px rgba(0,0,0,0.55);
}

