*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}


#map{
    font-family:'Montserrat';
    position:absolute;
    z-index:2;
}


#map canvas{
    cursor:default;
}

.mapboxgl-popup-content{
   background-color: rgba(255, 255, 255, 0);
   box-shadow: 0 1px 2px rgba(0,0,0,.0);
   padding:0px;
}

.mapboxgl-ctrl-attrib-inner{
   display:none; 
}


.top{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.app{
    position:absolute;
    z-index:45;
}


.error{
    height:30vh;
    width:30vw;
    background-color:red;
    position:absolute;
    z-index:50;
}


/*------------------------------HEADER-----------------------------------*/

.header{
    display:flex;
    align-items: center;
    justify-content: left;
    position:fixed;
    margin-left: 30px;
    width:26vw;
    height:17vh;
    background-color:#298A91;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    -webkit-box-shadow: 0px 7px 14px -5px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 7px 14px -5px rgba(0,0,0,0.55);
    box-shadow: 0px 7px 14px -5px rgba(0,0,0,0.55);
}

.header img{
    margin-left:65px;
    width: 52%;
}

/*---------------------------FILTERINFO-------------------------------------*/

.filterinfo{
    margin-top:30px;
    text-align:right;
    font-size: 18px;
    margin-left:70vw;
    line-height:25px;
    font-weight: 600;
    color:#298A91;
    position:fixed;
    background-color: rgba(255, 255, 255, 0.85);
    padding:10px 20px 10px 20px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 7px 9px -5px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 7px 9px -5px rgba(0,0,0,0.35);
    box-shadow: 0px 7px 9px -5px rgba(0,0,0,0.35);
    
}

/*---------------------------FILTROS-------------------------------------*/

.filtro1{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    position:fixed;
    width:26vw;
    height:63vh;
    background-color: #C3E2E5;
    color:#396668;
    margin-left:30px;
    margin-top:25vh;
    border-radius: 12px;
    -webkit-box-shadow: 0px 7px 14px -5px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 7px 14px -5px rgba(0,0,0,0.55);
    box-shadow: 0px 7px 14px -5px rgba(0,0,0,0.55);
}


.filtro2{
    display:flex;
    flex-direction:column;
    margin-top:20px;
    margin-left:65px;
    width:60%;
}

.filtro3{
    display:flex;
    flex-direction:column;
    margin-top:20px;
}

.filtro3 input{
    width:170px;
    height:30px;
    margin-bottom:18px;
}

.filtro3 select{
    width:170px;
    height:27px;
    margin-bottom:20px;
    font-family: 'montserrat';
}



/*------------------------------CARDS--------------------------------*/

.card{
    display: flex;
    align-items:center;
    width:625px;
    height:190px;
    background-color:white;
    border-radius:12px;
    -webkit-box-shadow: 0px 7px 14px -5px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 7px 14px -5px rgba(0,0,0,0.55);
    box-shadow: 0px 7px 14px -5px rgba(0,0,0,0.55);
}

.cardleft{
    height:100%;
}

.cardleft img{
    border-top-left-radius:12px;
    border-bottom-left-radius:12px;
    height:190px;
}

.cardright1{
    color:#298A91;
    padding: 12px 15px 0px 15px;
}

.cardright1 h3{
    font-size: 16px;
}

.cardright1 h4{
    font-weight:600;
    color:#F37337;
    margin-bottom:5px;
}

.cardright1 h5{
    font-size:12px;
    margin-bottom:5px;
}

.cardright1 p{
    font-size:10px;
    line-height:15px;
}

.cardright3{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-end;
    margin-bottom: 10px;
    color:white;
    
}

.cardright3 img{
    margin-top:6px;
    padding-top:3px;
    width:8px;
    height:20px;
}

.cardright3 button{
    background-color:#F37337;
    font-family: 'montserrat';
    font-size:12px;
    font-weight:500;
    color:white;
    border: none;
    padding:6px 14px 6px 14px;
    border-radius: 6px;
    cursor:pointer;
}

.cardright3 button:hover{
    background: #F39A37;
}

.cardright3 button:active{
    background: #F39A37;
    border:none;
}

.cardright2{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.cardright2 img{
    width:30px;
    margin-right:5px;
}


/*------------------------------FOOTER-------------------------------*/

.footer{
    display:flex;
    justify-content:center;
    align-items: center;
    position:fixed;
    font-size:11px;
    margin-left:81vw;
    margin-top:94vh;
    width:17vw;
    height:6vh;
    background-color:#298A91;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color:white;
    -webkit-box-shadow: 0px -7px 14px -5px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px -7px 14px -5px rgba(0,0,0,0.55);
    box-shadow: 0px -7px 14px -5px rgba(0,0,0,0.55);
}

